body {
	margin: 0;
    background: #364061;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    padding: 0;
}
nav {
    background: #55D6AA;
    height: 73px;
    width: 100%;
    position: fixed;
    z-index: 2;
}
label.brand {
    color: #364061;
    font-size: 33px;
    line-height: 80px;
    padding: 0 50px;
    position: absolute;
    left: calc(5%);
}
.logo {
    position: absolute;
    left: calc(2%);
    padding: 10px;
    height: 55px;
    width: 55px;
}
nav ul {
    float: right;
    margin-right: 20px;
}
nav ul li {
    display:inline-block;
    line-height: 30px;
    margin: 0 15px;
}
nav ul li a {
    color: black;
    font-size: 20px;
    padding: 7px 13px;
    border-radius:3px;
    text-decoration:none;
    list-style:none;
    box-sizing: border-box;
    text-transform: uppercase;
    position: relative;
    display: block;
    transition: all .3s ease;
}
a.active, a:hover {
    color: #212f5c;
}
a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #000;
    transition: width .3s;
    position: relative;
}
a::before {
    content: "";
    transition: all 0.4s ease-in-out;
    position: absolute;
    right: 50%;
    left: 50%;
    bottom: 0;
    height: 2px;
}
nav ul li a:hover:after {
    width: 100%;
}
nav ul li:hover a::before {
    right: 0;
    left: 0;
}
.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 90px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check {
    display: none;
}
.about {
    background-color: #445175;
    height: 168vh;
    width: 96vw;
    position: absolute;
    top: calc(73px + 3vh);
    left: 1.4vw;
    border-radius: 25px;
}
.info {
    position: absolute;
    top: 15px;
    left: calc(50% - 95px);
    width: 50px;
    height: 50px;
}
#title {
    color: whitesmoke;
    position: absolute;
    top: 15px;
    left: calc(50% - 30px);
    font-weight: 500;
    font-size: 30pt;
}
.ph {
    position: absolute;
    top: 100px;
    left: calc(50% - 213px);
    font-weight: 500;
    font-size: 26pt;
}
.p {
    position: absolute;
    top: 130px;
    color: whitesmoke;
    width: 50%;
    margin: auto;
    padding: 10px;
    font-size: 14pt;
    text-align: justify;
    left: calc(25% - 10px);
}
.people {
    width: 45px;
    height: 45px;
    position: absolute;
    top: 350px;
    left: calc(50% - 143px);
}
.group {
    position: absolute;
    font-weight: 500;
    font-size: 26pt;
    color: whitesmoke;
    top: 350px;
    left: calc(50% - 78px);
}
.kuya {
    font-size: 16pt;
    color: whitesmoke;
    position: absolute;
    top: 410px;
    left: calc(50% - 280px);
}
.heart {
    font-size: 16pt;
    color: whitesmoke;
    position: absolute;
    top: 445px;
    left: calc(50% - 278px);
}
.suggest {
    font-size: 16pt;
    color: whitesmoke;
    position: absolute;
    top: 490px;
    left: calc(50% - 430px);
}
.memo {
    width: 45px;
    height: 45px;
    position: absolute;
    top: 560px;
    left: calc(50% - 165px);
}
.dev {
    position: absolute;
    font-weight: 500;
    font-size: 26pt;
    color: whitesmoke;
    top: 560px;
    left: calc(50% - 100px);
}
.develop {
    position: absolute;
    top: 617px;
    color: whitesmoke;
    width: 50%;
    margin: auto;
    padding: 10px;
    font-size: 14pt;
    text-align: justify;
    left: calc(25% - 15px);
}
.work {
    width: 45px;
    height: 45px;
    position: absolute;
    top: 780px;
    left: calc(50% - 125px);
}
.references {
    position: absolute;
    font-weight: 500;
    font-size: 26pt;
    color: whitesmoke;
    top: 780px;
    left: calc(50% - 60px);
}
.links {
    color: white;
    font-size: 14pt;
    position: absolute;
    top: 842px;
    left: calc(50% - 170px);
}
.s {
    text-align: center;
    padding: 5px;
}
a {
    text-decoration: none;
    color: rgb(170, 170, 201);
}
/* Media Queries: Phone Portrait */
@media screen and (max-width: 500px) {
    body, html {
        width: 100%;
    }
    body {
        width: 100%;
        height: 100%;
        padding: 0;
        position: absolute;
        overflow-x: hidden;
    }
    .checkbtn {
        display: block;
    }
    label.brand {
        font-size: 6.0vw;
        left: calc(5% + 8px);
        margin: auto;
        line-height: 70px;
    }
    .menu {
        height: 25px;
        width: 25px;
        position: absolute;
        top: 22px;
        right: calc(4%);
    }
    ul {
        position: fixed;
        width: 100%;
        height: 330px;
        background: #2C3E50; 
        top: 58px;
        left: 100%;
        text-align: left;
        transition: all .5s ease-in-out;
        z-index: 3;
    }
    nav ul li{
        display: block;
        margin: 40px 0;
        line-height: 0px;
    }
    nav ul li a{
        font-size: 20px;
        color: white;
    }
    a::after {
        display: none;
    }
    a::before {
        display: none;
    }
    
    a:hover, a.active {
        background: none;
        color: #0082e6;
    }
    #check:checked ~ ul {
        left: 0px;
        z-index: 3;
        transition: all .5s ease-in-out;
        text-align: start;
    }
    .logo {
        left: calc(3%);
        padding: 10px;
        height: 45px;
        width: 45px;
        position: absolute;
        top: 3px;
    }
    .about {
        height: 1030px;
        width: 90vw;
        top: calc(73px + 2vh);
        left: 5vw;
    }
    .info {
        left: calc(50% - 75px);
        width: 40px;
        height: 40px;
    }
    #title {
        left: calc(50% - 20px);
        font-size: 24pt;
    }
    .ph {
        top: 80px;
        left: 2vw;
        font-size: 6vw;
    }
    .p {
        top: 95px;
        width: 95%;
        font-size: 10.5pt;
        left: 0;
    }
    .people {
        width: 30px;
        height: 30px;
        top: 330px;
        left: calc(50% - 90px);
    }
    .group {
        font-size: 6vw;
        top: 330px;
        left: calc(50% - 45px);
    }
    .kuya {
        font-size: 4.3vw;
        top: 370px;
        left: 0vw;
        text-align: center;
    }
    .heart {
        font-size: 4.3vw;
        top: 430px;
        left: 0vw;
        text-align: center;
    }
    .suggest {
        font-size: 4.3vw;
        top: 490px;
        left: 0vw;
        text-align: center;
    }
    .memo {
        width: 30px;
        height: 30px;
        top: 560px;
        left: calc(50% - 105px);
    }
    .dev {
        font-size: 6vw;
        top: 560px;
        left: calc(50% - 60px);
    }
    .develop {
        top: 595px;
        width: 95%;
        font-size: 10.5pt;
        left: 0;
    }
    .work {
        width: 30px;
        height: 30px;
        top: 760px;
        left: calc(50% - 85px);
    }
    .references {
        font-weight: 500;
        font-size: 6vw;
        top: 760px;
        left: calc(50% - 40px);
    }
    .links {
        font-size: 4.3vw;
        top: 800px;
        left: 0vw;
        width: 100%;
    }
}