body {
	margin: 0;
    background: #364061;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    padding: 0;
}
nav {
    background: #55D6AA;
    height: 73px;
    width: 100%;
}
label.brand {
    color: #364061;
    font-size: 33px;
    line-height: 80px;
    padding: 0 50px;
    position: absolute;
    left: calc(5%);
}
.logo {
    position: absolute;
    left: calc(2%);
    padding: 10px;
    height: 55px;
    width: 55px;
}
nav ul {
    float: right;
    margin-right: 20px;
}
nav ul li {
    display:inline-block;
    line-height: 30px;
    margin: 0 15px;
}
nav ul li a {
    color: black;
    font-size: 20px;
    padding: 7px 13px;
    border-radius:3px;
    text-decoration:none;
    list-style:none;
    box-sizing: border-box;
    text-transform: uppercase;
    position: relative;
    display: block;
    transition: all .3s ease;
}
a.active, a:hover {
    color: #212f5c;
}
a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #000;
    transition: width .3s;
    position: relative;
}
a::before {
    content: "";
    transition: all 0.4s ease-in-out;
    position: absolute;
    right: 50%;
    left: 50%;
    bottom: 0;
    height: 2px;
}
nav ul li a:hover:after {
    width: 100%;
}
nav ul li:hover a::before {
    right: 0;
    left: 0;
}
.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 90px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check {
    display: none;
}
.chart-container {
    position: absolute;
    width: 96vw;
    left: 2vw;
}
canvas {
    width: 96vw !important;
    height: 545px !important;
}

/* Media Queries: Phone Portrait */
@media screen and (max-width: 500px) {
    body, html {
        width: 100%;
    }
    body {
        width: 100%;
        height: 100%;
        padding: 0;
        position: absolute;
        overflow-x: hidden;
    }
    .checkbtn {
        display: block;
    }
    label.brand {
        font-size: 6.0vw;
        left: calc(5% + 8px);
        margin: auto;
        line-height: 70px;
    }
    .menu {
        height: 25px;
        width: 25px;
        position: absolute;
        top: 22px;
        right: calc(4%);
    }
    ul {
        position: fixed;
        width: 100%;
        height: 335px;
        background: #2C3E50; 
        top: 58px;
        left: 100%;
        text-align: left;
        transition: all .3s ease-in-out;
        z-index: 3;
    }
    nav ul li{
        display: block;
        margin: 40px 0;
        line-height: 1px;
    }
    nav ul li a{
        font-size: 20px;
        color: white;
    }
    a::after {
        display: none;
    }
    a::before {
        display: none;
    }
    
    a:hover, a.active {
        background: none;
        color: #0082e6;
    }
    #check:checked ~ ul {
        left: 0px;
        z-index: 3;
        transition: all .3s ease-in-out;
        text-align: start;
    }
    .logo {
        left: calc(3%);
        padding: 10px;
        height: 45px;
        width: 45px;
        position: absolute;
        top: 3px;
    }
    canvas {
        height: 81vh !important;
        width: 96vw !important;
    }
    .chart-container {
        position: absolute;
        top: calc(3vh + 75px);
        left: 2vw;
        right: 2vw;
    }
}